<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/content.css">
</head>
<body>
    <div class="header">
        <div class="w1170 wrap">
            <h1>云笔记</h1>
            <div class="head-btn">
                <form action=""> 
                    <button type="submit" formaction="/write">写笔记</button>
                </form>
            </div>
        </div>
    </div>
    <div class="w1170 ">
        <div class="content">
            <h2>测试标题</h2>
            <div class="content-msg">
                <div class="content-top">
                    <div class="author">
                        作者:
                        <span class="author-name">Alex</span>
                    </div>
                    <div class="create-time">2018年7月21日</div>
                </div>
                <div class="content-details">测试内容</div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/details.js"></script>
</html>